<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">
	<listeners>
		<listener class-name="com.petapi.utilities.ExtentReportManager" />
	</listeners>
	
  <test thread-count="5" name="PetTests">
    <classes>
    <!--  <class name="com.petapi.test.DataDrivenTests"/>  -->
      <class name="com.petapi.test.UserTests"/>
    </classes>
  </test> <!-- PetTests -->
</suite> <!-- PetSuite -->
